---
import SideBarComponent from "./SidebarPageComponent.astro";
import {BiHomeAlt} from 'react-icons/bi'
import {SlDocs} from 'react-icons/sl'
import { FiGithub } from "react-icons/fi";
import {AiOutlineFileSearch} from 'react-icons/ai'
---

<aside class='hidden lg:block w-1/5 min-h-screen sticky border-r-[0.5px] border-r-gray-500'>
    <section class='flex flex-col justify-between sticky p-4'>
        <section class="border-[1px] border-slate-400 shadow-sm drop-shadow-sm shadow-slate-400 rounded-md p-2 hover:bg-neutral-800 flex items-center justify-between">
            <section class="text-gray-400 text-lg mx-2 font-semibold">Search</section>
            <section class="text-gray-400 text-2xl">
                <AiOutlineFileSearch/>
            </section>
        </section>
        <section class='py-2 gap-2 border-b-[0.75px] border-b-gray-400'>
            <SideBarComponent name="Home" Logo={BiHomeAlt} active={true}/>
            <a href="./docs/home">
                <SideBarComponent name="Docs" Logo={SlDocs} active={false}/>
            </a>
            <a href="https://github.com/DeployWise" target="_blank" rel="noopener noreferrer">
                    <SideBarComponent name="Our GitHub" Logo={FiGithub} active={false}/>
            </a
        </section>
        
    </section>
</aside>